body {
    margin: 0;
    overflow: hidden;
    background: #121212;
    color: #fff;
    font-family: "Helvetica";
    font-size: 12px;
    user-select: none;
}

/* The canvas is a large container we pan/zoom.
    Grid lines every 40px via background gradients. */
#canvas {
    position: relative;
    width: 10000px;
    height: 10000px;
    background-color: #121212;
    background-image:
        linear-gradient(90deg, #444 1px, transparent 1px),
        linear-gradient(180deg, #444 1px, transparent 1px);
    background-size: 40px 40px;
    touch-action: none;
    cursor: grab;
}

#canvas:active {
    cursor: grabbing;
}

/* Task styling */
.task {
    position: absolute;
    width: 240px;
    background: #333;
    outline: 2px solid #4d4d4d;
    outline-offset: 0px;
    border-radius: 6px;
    box-sizing: border-box;
    touch-action: none;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ccc;
    font-size: 12px;
    height: 40px;
    padding: 0 0 0 10px;
}
    .task-header > .expand-switch {
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin-right: 10px;
    }
        .task-header > .expand-switch:hover {
            color: #fff;
        }
        .task-header > .expand-switch:not(.expand-switch-expanded) {
            padding-bottom: .1em;
        }
        .task-header > .expand-switch::before {
            content: "▶";
        }
        .task-header > .expand-switch.expand-switch-expanded::before {
            content: "▼";
        }
        .task-header > .expand-switch.expand-switch-add {
            font-size: 20px;
            padding-left: .1em;
            padding-bottom: .3em;
            color: #FFFFFF22;
        }
        .task-header > .expand-switch.expand-switch-add::before {
            content: "+";
        }
            .task-header > .expand-switch.expand-switch-add:hover {
                color: #fff;
            }
    .task-header > .title {
        flex-grow: 1;
        text-align: center;
        outline: none;
        cursor: default;
    }
    .task-header > input[type="text"] {
        background: none;
        border: none;
        color: #ccc;
        text-align: center;
        font-size: 12px;
        width: 100%;
        outline: none;
    }
    .task-header > .custom-checkbox {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 6px;
    }
        .task-header > .custom-checkbox > .checkbox-fill {
        width: 28px;
        height: 28px;
        }

.description {
    cursor: text;
    white-space: pre-wrap;
    line-height: 1.4;
    overflow-y: auto;
    outline: 2px solid #4d4d4d;
    outline-offset: -1px;
    margin-inline: -1px;
    margin-bottom: 10px;
}

/* Editor container styling for SimpleMDE */
.description {
    border: 2px solid #4d4d4d;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

/*-------------------------------------------------------------*/
/* Override SimpleMDE styling for rendering in tasks */
/*-------------------------------------------------------------*/
.CodeMirror {
    background-color: #1a1a1a;
    color: #fff;
    font-size: 12px;
    min-height: 40px;
    border: none;
    overflow-y: hidden;
}
.CodeMirror-cursor {
    border-left-color: #ddd;
}
.CodeMirror-scroll {
    height: auto;
    min-height: 40px;
    overflow: hidden !important;
}
    [data-role="description"][data-mode="display"] > .CodeMirror > .CodeMirror-scroll {
        display: none;
    }
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    display: none !important;
}
.editor-toolbar {
    background-color: #2e2e2e;
    border: none;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 32px);
    justify-content: space-between;
    padding: 5px;
}
    .editor-toolbar.disabled-for-preview a:not(.no-disable) {
        color: #ffffff22 !important;
        cursor: pointer !important;
    }
    .editor-toolbar.disabled-for-preview a:not(.no-disable):not(:hover) {
        background-color: unset;
    }
    .editor-toolbar:hover {
        opacity: unset;
    }
    .editor-toolbar::before {
        display: none;
    }
    .editor-toolbar a {
        color: #aaa !important;
    }
    .editor-toolbar a.active {
        background: unset;
        border-color: #555;
        color: #fff !important;
    }
    .editor-toolbar a:hover {
        color: #ccc !important;
        background: #1F1F1f;
        border-color: #555;
    }
.editor-preview {
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    height: auto;
    overflow-y: hidden;
}
.editor-statusbar {
    background-color: #2e2e2e;
    border: none;
}
/* Markdown Styling */
.cm-formatting {
    opacity: .25;
    font-weight: 100;
}
.description {
    --h1-font-size: 2rem;
    --h2-font-size: 1.74rem;
    --h3-font-size: 1.52rem;
    --h4-font-size: 1.32rem;
    --h5-font-size: 1.15rem;
    --h6-font-size: 1rem;
    --all-space: .25rem;
    --header-only-space: .5rem;
    --header-space: calc(var(--all-space) + var(--header-only-space));

    .editor-preview {

        * { line-height: 0; margin: 0; padding: 0; }
        h1, h2, h3, h4, h5, h6, p, li { line-height: 1; }
    
        h1, h2, h3, h4, h5, h6 {
            display: inline-block;
            margin-top: var(--header-space); &:first-child {margin-top: 0;}
            font-weight: 600;
        }
        p {
            display: inline-block;
            margin-top: .5em; &:first-child {margin-top: 0;}
        }
    
        ul, ol {
            line-height: var(--all-space);
            padding-inline-start: 10px;
            margin-inline-start: .3em;
            display: inline-block;
    
            > li {
                line-height: calc(1em + var(--all-space));
            }
        }

        h1 { margin-top: var(--header-space); font-size: var(--h1-font-size); }
        h2 { margin-top: var(--header-space); font-size: var(--h2-font-size); }
        h3 { margin-top: var(--header-space); font-size: var(--h3-font-size); }
        h4 { margin-top: var(--header-space); font-size: var(--h4-font-size); }
        h5 { margin-top: var(--header-space); font-size: var(--h5-font-size); }
        h6 { margin-top: var(--header-space); font-size: var(--h6-font-size); }
    }

}

/* Custom context menus */
#contextMenu,
#taskContextMenu,
#dependencyContextMenu {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border: 1px solid #555;
    z-index: 10000;
    font-size: 14px;
    display: none;
}

#contextMenu div,
#taskContextMenu div,
#dependencyContextMenu div {
    padding: 4px 8px;
    cursor: pointer;
}

#contextMenu div:hover,
#taskContextMenu div:hover,
#dependencyContextMenu div:hover {
    background: #555;
}

/*---------------------------------------------------*/
/* Modal Dialog */
/*---------------------------------------------------*/

.modal-dialog {
    position:  fixed;
    left: 50%;
    top: min(50%, 400px);
    transform: translate(-50%, -50%);
    background-color: #333;
    border-radius: 10px;
    box-shadow: black 0 2px 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.modal-title {
    padding: 8px;
    font-size: 18px;
}

.modal-close {
    padding: 3.5px 1.5px 0 0;
    margin: 6px;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    background-color: #8b0000;
    transition: background-color .2s ease-out;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer;
}
.modal-close:hover {
    background-color: #ad4e4e;
}

.modal-body {
    padding: 16px;
    font-size: 14px;
}

.modal-footer {
    padding: 8px;
    display: flex;
    justify-content: center;
}

.modal-button {
    margin: 8px;
    padding: 10px 14px 11px 14px;
    font-size: 14px;
    background-color: #1F1F20;
    transition: background-color .2s ease-out;
    border-radius: 5px;
    cursor: pointer;
}
.modal-button:hover {
    background-color: #444444;
}
